<section class="dashboard-index">

  <header class="page-header">
    <h1>My Dashboard</h1>
    <h5>The store currently holds <%= show.product.count %> products and has <%= @category.count %> categories created</h5>
  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr class="bg-success">
          <th style="text-align:center">Product Count</th>
          <th style="text-align:center">Category Count</th>
        </tr>
        <tr>
          <td>
            <h1 style="text-align:center"><%= show.product.count %></h1>
            <br>
          </td>
          <td>
            <h1 style="text-align:center"><%= @category.count %></h1>
          </td>
        </tr>
      </thead>
    </table>
          
  </div>
  <%= link_to 'Admin Page',  [:admin, :products], class: 'btn btn-sm btn-info btn-lg btn-block' %>

</section>